#wb-bnr p.h1 {
    color: #335075;
}

#wb-bnr p.h1 i.glyphicon {
    font-size: 80%;
}

#wb-sm .btn {
    padding: 0.8em;
    margin: 3px;
}

.gc-app-br {
    border-bottom: solid #335075 5px
}

.gc-app object {
    width: 50%;
}
